<header id="top">
	<nav id="top">
		<ul>
			<li><a href="https://github.com/{{ site.github_username }}">
				<img src="/assets/svg/mark-github.svg" />GitHub</a></li>
			<li><a href="/about-cn/">
				<img src="/assets/svg/mention.svg" />About</a></li>
			<li><a href="/languages-cn/">
				<img src="/assets/svg/file-code.svg" />Languages</a></li>
			<li><a href="/projects/">
				<img src="/assets/svg/repo.svg" />Projects</a></li>
			<li><a href="/llvm-cs/en/">
				<img src="/assets/svg/file-binary.svg" />LLVM#</a></li>
			<li><a href="/resume-cn/">
				<img src="/assets/svg/file-pdf.svg" />Resume</a></li>
			<li><a href="/categories/">
				<img src="/assets/svg/tag.svg" />Archive</a></li>
			<li><a href="/">
				<img src="/assets/svg/home.svg" />Home</a></li>
		</ul>
	</nav>
</header>