---
layout: default
---
<section class="container" itemscope itemtype="http://schema.org/Blog">
	<h1 class="big" itemprop="name">{{ page.title }}</h1>
	<p class="date">
		<span itemprop="datePublished" content="{{ page.date }}">{{ page.date | date: "%Y, %b %-d" }}</span>
		by <span itemprop="author">{{ site.author }}</span>
	</p>
	<article itemprop="articleBody">
		{{ content }}
		{% include article-footer.html %}
	</article>
	<a href="http://twitter.com/home?status={{ page.title }} by @{{ site.twitter }} {{ site.url }}{{ page.url }}"
	   target="_blank" class="tweet">Tweet this</a>
</section>
<a href="#top" class="top">Top</a>
<div class="comment">
	{% include comments.html %}
	{% include article-footer.html %}
</div>
<div class="cc-license">
	{% include cc-license.html %}
</div>
